language: node_js
os:
  - linux
  - osx
osx_image: xcode9.3
node_js:
  - '10'
  - '8'
  - '6'
addons:
  apt:
    packages: nasm
before_install: if [[ $TRAVIS_OS_NAME == osx ]]; then brew update && brew install nasm; fi;
